fastapi[all]
uvicorn
sqlalchemy
bcrypt
psycopg2-binary
passlib
asyncpg
langchain-gigachat
sqlalchemy
langchain-community
langchain-core
langgraph
langchain
requests
beautifulsoup4
pydantic
jinja2
typing-extensions
ipython
langchain_openai