@import "@/index.scss";

.page {
  position: relative;
  width: 100wv;
  height: 100vh; // Высота на 100% от высоты окна
  @include flex-layout(start, center, row);
  background-color: var(--mainbg);
  background-image: url("/public/graffiti2.png");
  background-position: center;
  background-size: 90% 100%;

  background-repeat: no-repeat;
  overflow-x: hidden;

  @media (max-width: 768px) {
    background-position: top;
    background-size: 100% 80%;
  }
}
