.chatMessage {
  border-radius: 16px;
  width: 85%;
  height: auto;
  padding: 16px;
  background-color: var(--bgItem);
  align-self: end;
  margin-right: 10px;
  font-size: 18px;
  color: #ffffff;
}
